/******************/
/*     Header2    */
/******************/

.fundo-detalhes {
    background-image: url('../images/codewall.avif');
	background-size: cover;
	background-position: center;
	background-attachment: fixed; 
	position: relative;
    height: 500px;
}

.text-white, .fw-semi-bold {
    text-decoration: none;
}

.img-news{
    max-width: 100%;
    margin: 10px;
}

#botao-link {
    background-color: red;
}