/******************/
/*     Header2    */
/******************/

#imagem-preload {
	position: relative;
	margin-bottom: 20px;
}

#preload-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: opacity 0.5s ease-in-out;
}

#preload-spinner {
	border: 8px solid black;
	border-top: 8px solid #fff;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 1s linear infinite;
}

#title-sub {
	z-index: 124;
}

.fundo-detalhes {
    position: relative;
    height: 500px;
    overflow: hidden; 
}

.fundo-detalhes::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

.fundo-detalhes {
    background-image: url('../images/privacy.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    position: relative;
    z-index: 0; 
}

#div-titulo {
	z-index: 412;
}

.text-white, .fw-semi-bold {
    text-decoration: none;
}

.img-news{
    max-width: 100%;
    margin: 10px;
}

#botao-link {
    background-color: red;
}

#p-link {
	text-decoration: none;
}
#p-link:hover {
	text-decoration: underline;
}