/* .slider-area {
    background-image: url('./imagens/carousel-2.jpg');
}
 */


/* .fundo-detalhes {
    position: relative;
    height: 500px;
    overflow: hidden; 
}

.fundo-detalhes::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

.fundo-detalhes {
    background-image: url('./imagens/privacy.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    position: relative;
    z-index: 0; 
} */

#sobre {
    padding-top: 26.75rem;
    padding-bottom: 26.75rem;
}

#depoimentos {
    padding-top: 26.75rem;
    padding-bottom: 26.75rem;
}

#servico {
    padding-top: 24.75rem;
    padding-bottom: 14.75rem;
}

#imagens {
    padding-top: 26.75rem;
    padding-bottom: 26.75rem;
}

#contato {
    padding-top: 26.75rem;
    padding-bottom: 26.75rem;
}

#buttons-tt {
    margin: 10px;
}
#ver-tutorial {
    color: black;
    border-radius: 20px;
}
#esconder-tutorial {
    color: black;
    border-radius: 20px;
}
#conteudo-tt {
    display: none;
}

#abre-em-breve, #fecha-em-breve {
    color: yellow;
}
#aberto {
    color: green;
}
#fechado {
    color: red;
}

#a-branco {
    color: white;
    text-shadow: 1px 1px 1px black;
}

@media screen and (max-width: 767px) {
    #horas {
        margin: auto;
    }
}
@media screen and (max-width: 868px) {
    #endereço {
        display: none;
    }
}

#horas p {
    font-size: 18px;
}
.top-bar {
    position: relative;
    height: 60px;
    background: #000000 !important;
}

.top-bar .top-bar-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.top-bar .top-bar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-bar .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60px;
    padding: 0 10px;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .text:last-child {
    border-right: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .text h2 {
    color: #eeeeee;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0;
}

.top-bar .text p {
    color: #eeeeee;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
}

.top-bar .social {
    display: flex;
    height: 60px;
    font-size: 0;
    justify-content: flex-end;
}

.top-bar .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 100%;
    font-size: 22px;
    color: #ffffff;
    border-right: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .social a:first-child {
    border-left: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .social a:hover {
    color: #D5B981;
    background: #ffffff;
}

@media (min-width: 992px) {
    .top-bar {
        padding: 0 60px;
    }
}

#data-hora-curta {
    color: white;
}

.navbar {
    position: relative;
    transition: .5s;
    z-index: 999;
}

.navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.navbar .navbar-brand {
    margin: 0;
    color: #ffffff;
    font-size: 45px;
    line-height: 0px;
    font-weight: 600;
}

.navbar .navbar-brand span {
    font-weight: 800;
}

.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 40px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    background: rgba(256, 256, 256, .1);
    transition: none;
}

.navbar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

@media (min-width: 992px) {
    .navbar {
        position: absolute;
        width: 100%;
        top: 60px;
        padding: 20px 60px;
        background: rgba(0, 0, 0, 0) !important;
        z-index: 9;
    }
    
    .navbar.nav-sticky {
        padding: 10px 60px;
        background: #020202c5 !important;
    }
    
    .navbar a.nav-link {
        padding: 8px 15px;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}

@media (max-width: 991.98px) {   
    .navbar {
        padding: 15px;
        background: #02020288 !important;
    }
    
    .navbar a.nav-link {
        padding: 5px;
    }
    
    .navbar .dropdown-menu {
        box-shadow: none;
    }
}

@media screen and (max-width: 1020px) {
    .service {
        position: relative;
        width: 100%;
        padding: 45px 0 15px 0;
    }
    
    .service .service-item {
        position: relative;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        background: rgba(29, 36, 52, .04);
    }
    
    .service .service-img {
        position: relative;
        width: 100%;
    }
    
    .service .service-img img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .service .service-img::after {
        position: absolute;
        content: "";
        top: 15px;
        right: 15px;
        bottom: 15px;
        left: 15px;
        background: transparent;
        z-index: 1;
    }
    
    .service .service-item h3 {
        margin: 0;
        padding: 25px 15px 15px 15px;
        font-size: 25px;
        font-weight: 700;
    }
    
    .service .service-item p {
        margin: 0;
        padding: 0 25px 25px 25px;
        font-size: 16px;
    }
    
    .service .service-item a.btn {
        position: relative;
        margin-bottom: 30px;
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 600;
        color: #1d2434;
        border: 2px solid #1d2434;
        border-radius: 0;
        background: none;
        transition: .3s;
    }
    
    .service .service-item:hover a.btn {
        color: #D5B981;
        background: #1d2434;
        border-color: #1d2434;
    }
}

@media screen and (min-width: 1021px) {
    .service {
        display: none;
    }
}

.section-header {
    margin-bottom: 20px;
}

.price {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.price .price-item {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 30px;
    background: rgba(29, 36, 52, .04);
    transition: .3s;
}

.price .price-item:hover {
    background: #D5B981;
}

.price .price-img {
    position: relative;
    width: 100px;
}

.price .price-img img {
    width: 100%;
}

.price .price-img::after {
    position: absolute;
    content: "";
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    background: transparent;
    border: 1px solid #ffffff;
    z-index: 1;
}

.price .price-text {
    position: relative;
    padding: 0 15px;
    width: calc(100% - 100px);
    overflow: hidden;
}

.price .price-text h2 {
    position: relative;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
}

.price .price-text h3 {
    position: relative;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}

.h2-serviços {
    font-size: 50px;
    display: block;
    color: #1d2434;
    font-weight: 700;
    text-transform: uppercase;
}

.gallery-area .box .gallery-img {
    flex-wrap: wrap;
    background-position: center;
}

#local {
    background-image: url('./imagens/fundo3.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 30rem;
}

.section-iframe {
    position: relative;
    width: 100%;
    height: 70vh; /* Define a altura para 90% da altura da janela */
    overflow: hidden; /* Oculta qualquer parte do iframe que esteja fora da seção */
}

.div-iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%; /* Define a largura para 90% da largura da janela */
    height: 80%; /* Define a altura para 100% da altura da janela */
}

.div-iframe iframe {
    width: 100%; /* Define a largura do iframe como 100% */
    height: 100%; /* Define a altura do iframe como 100% */
    border: none; /* Remove a borda do iframe */
    border-radius: 20px;
    box-shadow: 0px 0px 5px black;
}

.footer-area {
    background-image: url('./imagens/fundo.jpg');
}

.div-buy {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

#imagem-fundo {
    position: relative;
}

#imagem-fundo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

#imagem-fundo * {
    position: relative;
    z-index: 2; 
}

#footer-branco {
    color: white;
    text-shadow: 1px 1px 1px black;
}

#back-top {
    z-index: 9999999;
}

.cookie-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

#accept-cookies {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#accept-cookies:hover {
    background-color: #45a049;
}